{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ModernWGC_ui/css/main.css' %}">
    <script defer src="{% static 'ModernWGC_ui/js/syntaxChecker.js' %}"></script>
    <script defer src="{% static 'ModernWGC_ui/js/graphRequest.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>Initial template</h1>
    <div id="graph-container">

    </div>
    <button class="graph-button">Graph</button>
</body>
</html>